<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Audit Service</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index_style.css') }}"
    />
  </head>
  <body>
    <div class="background"></div>
    <div class="container">
      <h1>Code Audit Service</h1>
      <button id="connect-button">Connect Wallet</button>
      <br /><br />
      <input type="file" id="file-input" />
      <br /><br />
      <button id="upload-button">Upload and Audit</button>
    </div>
    <div class="boat-container hidden">
      <div class="boat"></div>
      <progress id="progress-bar" value="0" max="100"></progress>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.3.6/dist/web3.min.js"></script>
    <script type="module">
      window.contractAddress = "{{ contract_address }}";
    </script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/main.js') }}"
    ></script>
    <!-- <script src="{{ url_for('static', filename='index_script.js') }}"></script> -->
  </body>
</html>
