<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Audit Result</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static/css/success_style.css') }}"
    />
  </head>
  <body>
    <div class="background"></div>
    <div class="container">
      <h1>Audit Result</h1>
      <div class="suggestions-container">
        {% for suggestion in suggestions %}
        <div class="suggestion">
          <div class="issue">{{ suggestion.issue }}</div>
          {% if suggestion.description %}
          <div class="description">{{ suggestion.description }}</div>
          {% endif %} {% if suggestion.solution %}
          <div class="solution"><code>{{ suggestion.solution }}</code></div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="button-container">
        <a href="{{ url_for('main.index') }}" class="floating-button"
          >Upload Another File</a
        >
      </div>
    </div>
  </body>
</html>
